{% load static %}
<html>
    <head>
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
      <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
      <link rel="stylesheet" href="{% static 'blog/css/blog_style.css' %}">
      <title>Django Girls blog</title>
    </head>
    <body>
        <div class="page_header col-md-12 navbar-static-top">
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div id="go_down"></div>
        <div class="content container">
          {% block content %}
          {% endblock %}
      </div>
    </body>
</html>
